h1 {color: dodgerblue; font-size: 5vb; font-weight: bold;}
h2 {color: rgb(229, 123, 42); font-size: 3vh; font-weight: bold; font-style: italic;}
p {color: blueviolet; font-family: 'Times New Roman', Times, serif;font-size: 3vb; font-weight: bolder;}

body{background-color: blanchedalmond;}
a{color: red; font-size: small;}
dt{color: darkorange; font-style: italic;}